.contact > input,
.contact-create-form > input{
    display:block;
    margin-bottom:1em;
}

#clearCreateForm {
    display:inline;
}

.contact {
    background-color: silver;
    float:left;
    padding:1em;
    margin:1em;
    border:1px solid gray;
}
#contacts-list {
    display:block;
    float:left;
}
    
#contacts-pages { 
    display:block;
    clear:both;
    float:left;
}
#contacts-pages ul li {
    list-style-type:none;
    padding-right:.3em;
    display:inline;
}

ul li.active {
    font-weight:bold;
}
